/ -#  This file is app/views/movies/index.html.haml
/ %h1 All Movies

/ = form_tag movies_path, :id => 'ratings_form', :method => :get do
/   Include: 
/   - @all_ratings.each do |rating|
/     = rating
/     / = check_box_tag "ratings[#{rating}]", :id => 'ratings_#{rating}'
/     = check_box_tag "ratings[#{rating}]", "check", @check.include?(rating), :id => 'ratings_#{rating}'
/   = submit_tag 'Refresh', :id => 'ratings_submit'

/ %table#movies
/   %thead
/     %tr
/       %th{ :class => [@sorting == 'title' && 'hilite']}
/         = link_to 'Movie Title', movies_path(:sorting => 'title'), :id => 'title_header'
/       %th Rating
/       %th{ :class => [@sorting == 'release_date' && 'hilite']}
/         = link_to 'Release Date', movies_path(:sorting => 'release_date'), :id => 'release_date_header'
/       %th More Info
/   %tbody
/     - @movies.each do |movie|
/       %tr
/         %td= movie.title 
/         %td= movie.rating
/         %td= movie.release_date
/         %td= link_to "More about #{movie.title}", movie_path(movie)

/ = link_to 'Add new movie', new_movie_path

-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= form_tag movies_path, :method => :get, :id => "ratings_form" do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", "check", @checked.include?(rating), :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies
  %thead
    %tr
      %th{:class=>header_class('titleheader')}= link_to "Movie Title", movies_path(:sort=>'titleheader'), :id=>'title_header'
      %th Rating
      %th{:class=>header_class('dateheader')}= link_to "Release Date", movies_path(:sort=>'dateheader'), :id=>'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
